<div class="container">
    <div class="contain">
        <div class="header">
            <span>Recover</span>
            <span>Your</span>
            <span>Account</span>
        </div>
        <div class="holes">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="outer-footer">
            <div class="footer">
                <div class="heading">
                    <span>Enter Your Registered Email Id To Recover</span> 
                    <span>And Secure Your Account</span>
                </div>
                <div class="inputting">
                    <form class="form" [formGroup]="reactiveform">
                        <mat-form-field appearance="outline">
                            <mat-label>Email Address</mat-label>
                            <input matInput formControlName="email">
                            <mat-error *ngIf="email?.errors?.['required'] || email?.errors?.['email']">
                                <span *ngIf="email?.errors?.['required']">You must enter an email</span>
                                <span *ngIf="email?.errors?.['email']">Please enter a valid email address</span>
                              </mat-error>
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div class="footer2">
                <button mat-raised-button color="primary" (click)="RegSubmit()">Next</button>
            </div>
        </div>
    </div>
</div>