@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

.container{
    background-color: #b3b3b3;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain{
    width: 70vw;
    height: 70vh;
    background-color: palegoldenrod;
    border-radius: 5vh;
    display: flex;
    border: 0.5vh solid black;
}
.header{
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    font-size: 10vh;
    font-family: "Truculenta", sans-serif;
    letter-spacing: 1vh;
    padding-top: 15vh;
    width: 16vw;
}
.header span{
    margin-top: 5vh;
}
.holes{
    display: grid;
    gap: 1vh;
    padding-top: 0.8vh;
    width: 2vw;
    margin-left: 1.5vw;
}
.holes div{
    width: 3vh;
    height: 3vh;
    border: 0.5vh solid black;
    border-radius: 50%;
    background-color: #b3b3b3;
}
.footer{
    width: 47.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading span{
    margin-top: 3vh;
    letter-spacing: 0.5vh;
    font-size: 4vh;
    font-family: "Barlow Condensed", sans-serif;
}
.inputting{
    display: grid;
    grid-template-columns: 30vw;
}
.outer-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}
.footer2{
    display: grid;
    grid-template-columns: 20vh;
}
button{
    font-family: "Dosis", sans-serif;
}
.form{
    display: grid;
    grid-template-columns: auto;
}