@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

.container{
    width: 100vw;
    height: 100vh;
    background-color: #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain{
    width: 70vw;
    height: 70vh;
    background-color: palegoldenrod;
    border-radius: 5vh;
    display: flex;
    flex-direction: row;
    border: 0.5vh solid black;
}
.header{
    width: 22vw;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-left: 3vw;
}
.header span{
    letter-spacing: 1vh;
    font-size: 8vh;
    margin-top: 5vh;
    font-family: "Truculenta", sans-serif;
}
.holes{
    display: grid;
    gap: 1vh;
    padding-top: 0.5vh;
    width: 2vw;
}
.holes div{
    width: 3vh;
    height: 3vh;
    border: 0.5vh solid black;
    border-radius: 50%;
    background-color: #b3b3b3;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    gap: 4vh;
}
.heading{
    letter-spacing: 1vh;
    font-size: 4vh;
    padding: 4vh;
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
}
button{
    font-family: "Dosis", sans-serif;
}
.inputting{
    display: grid;
}
.footer2{
    display: grid;
    grid-template-columns: 8vw;
}
.form{
    display: grid;
    grid-template-columns: 30vw;
    grid-template-rows: 10vh 10vh;
    gap: 3vh;
}